<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="daMailConfiguration" type="Ejyle.DevAccelerate.Core.Mail.MailConfigurationSection, Ejyle.DevAccelerate.Core"/>
  </configSections>
  <daMailConfiguration>
    <smtpServer />
    <mailProvider name="defaultMailProvider" type="Ejyle.DevAccelerate.Core.Mail.DefaultMailProvider, Ejyle.DevAccelerate.Core" />
  </daMailConfiguration>
</configuration>